.search-input > input {
    width: 400px;
    flex-grow: 1;
    background-color: #00293a;
    margin: 5px;
    height:6px;
}

.search-input > input::placeholder{
    color: rgb(169, 169, 169);
}

.search-input > input:valid{
    color: white;
}

.search-bar{
    display: flex;
    align-items: center; 
}

.search-input{
    background-color: #003c53;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.search-bar-button > button{
    background: #00293a;
    padding: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
