.home {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    min-height: 100vh;
  }
  .home-slider{
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    filter: brightness(80%);
}
.home_info{
  display:flex;
  flex-direction:row;
  justify-content: center;
}


.home_info1,.home_info2,.home_info3{
  flex: 1 1 auto;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.home_info > div  >h4{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.home_info_icon{
  text-align: center;
  width: 100%;
}

  